<div class="nk-add-product toggle-slide toggle-slide-right" data-content="addProduct" data-toggle-screen="any" data-toggle-overlay="true" data-toggle-body="true" data-simplebar>
                                    <div class="nk-block-head">
                                        <div class="nk-block-head-content">
                                            <h5 class="nk-block-title">Nouvelle transformation</h5>
                                            <div class="nk-block-des">
                                            </div>
                                        </div>
                                    </div><!-- .nk-block-head -->
                                    <div class="nk-block">
                                        <div class="row g-3">
                                            <form method="post" enctype="multipart/form-data">
                                                {% csrf_token %}



                                                <div class="col-12">
                                                <div class="form-group">
                                                    <label class="form-label" for="product-title">Matière première</label>
                                                    <div class="form-control-wrap">
                                                        <input type="text" autocomplete="off" list="produits" name="name-mp" class="form-control" id="product-title" required>
                                                    </div>
                                                </div>
                                            </div>


                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="form-label" for="regular-price">Quantité utilisée</label>
                                                    <div class="form-control-wrap">
                                                        <input type="number" name="qts-utl" value="1" min="1" class="form-control" id="regular-price" required>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                    <label class="form-label" for="product-title">Produit fini</label>
                                                    <div class="form-control-wrap">
                                                        <input type="text" autocomplete="off" list="produits" name="name-pf" class="form-control" id="product-title" required>
                                                    </div>
                                                </div>

                                            <datalist id="produits">
                                                    {% for produit in produits %}
                                                        <option value="{{ produit.name }}"></option>
                                                    {% endfor %}
                                                </datalist>

                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="form-label" for="regular-price">Quantité produite</label>
                                                    <div class="form-control-wrap">
                                                        <input type="number" name="qts-prod" value="1" min="1" class="form-control" id="regular-price" required>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-12 mt-5">
                                                <button type="submit" class="btn btn-primary"><em class="icon ni ni-plus"></em><span>Ajouter</span></button>
                                            </div>
                                            </form>

                                        </div>
                                    </div><!-- .nk-block -->
                                </div>
